@import "tailwindcss";

.bg-image {
  width: 100%;
  height: 100vh;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
}
